In [1]:
import pandas as pd
import numpy as np

#Create a Dictionary of series
d = {'Name':pd.Series(['Nivvu','Anki','Chandu','Dimple','Sanchu','Sharma','Nandan'
                      'Sharan','Ananth','Harsha']),
   'Age':pd.Series([22,20,21,24,32,25,24,31,26,33]),
   'Rating':pd.Series([4.12,2.23,1.34,4.23,5.25,5.4,2.6,6.65,1.44,4.60])
}

#Create a DataFrame
df = pd.DataFrame(d)
print (df)

           Name  Age  Rating
0         Nivvu   22    4.12
1          Anki   20    2.23
2        Chandu   21    1.34
3        Dimple   24    4.23
4        Sanchu   32    5.25
5        Sharma   25    5.40
6  NandanSharan   24    2.60
7        Ananth   31    6.65
8        Harsha   26    1.44
9           NaN   33    4.60

In [2]:
import pandas as pd
import numpy as np
 
#Create a Dictionary of series
d = {'Name':pd.Series(['Nivvu','Anki','Chandu','Dimple','Sanchu','Sharma','Nandan'
                      'Sharan','Ananth','Harsha']),
   'Age':pd.Series([22,20,21,24,32,25,24,31,26,33]),
   'Rating':pd.Series([4.12,2.23,1.34,4.23,5.25,5.4,2.6,6.65,1.44,4.60])
}

#Create a DataFrame
df = pd.DataFrame(d)
print (df.sum())

Age       258.00
Rating     37.86
dtype: float64

In [3]:
import pandas as pd
import numpy as np
 
#Create a Dictionary of series
d = {'Name':pd.Series(['Nivvu','Anki','Chandu','Dimple','Sanchu','Sharma','Nandan'
                      'Sharan','Ananth','Harsha']),
   'Age':pd.Series([22,20,21,24,32,25,24,31,26,33]),
   'Rating':pd.Series([4.12,2.23,1.34,4.23,5.25,5.4,2.6,6.65,1.44,4.60])
}
 
#Create a DataFrame
df = pd.DataFrame(d)
print (df.sum(1))

0    26.12
1    22.23
2    22.34
3    28.23
4    37.25
5    30.40
6    26.60
7    37.65
8    27.44
9    37.60
dtype: float64

In [4]:
import pandas as pd
import numpy as np

#Create a Dictionary of series
d = {'Name':pd.Series(['Nivvu','Anki','Chandu','Dimple','Sanchu','Sharma','Nandan'
                      'Sharan','Ananth','Harsha']),
   'Age':pd.Series([22,20,21,24,32,25,24,31,26,33]),
   'Rating':pd.Series([4.12,2.23,1.34,4.23,5.25,5.4,2.6,6.65,1.44,4.60])
}

#Create a DataFrame
df = pd.DataFrame(d)
print (df.mean())

Age       25.800
Rating     3.786
dtype: float64

In [5]:
import pandas as pd
import numpy as np

#Create a Dictionary of series
d = {'Name':pd.Series(['Nivvu','Anki','Chandu','Dimple','Sanchu','Sharma','Nandan'
                      'Sharan','Ananth','Harsha']),
   'Age':pd.Series([22,20,21,24,32,25,24,31,26,33]),
   'Rating':pd.Series([4.12,2.23,1.34,4.23,5.25,5.4,2.6,6.65,1.44,4.60])
}

#Create a DataFrame
df = pd.DataFrame(d)
print (df.std())

Age       4.661902
Rating    1.802358
dtype: float64

In [6]:
import pandas as pd
import numpy as np

#Create a Dictionary of series
d = {'Name':pd.Series(['Nivvu','Anki','Chandu','Dimple','Sanchu','Sharma','Nandan'
                      'Sharan','Ananth','Harsha']),
   'Age':pd.Series([22,20,21,24,32,25,24,31,26,33]),
   'Rating':pd.Series([4.12,2.23,1.34,4.23,5.25,5.4,2.6,6.65,1.44,4.60])
}

#Create a DataFrame
df = pd.DataFrame(d)
print (df.describe())

             Age     Rating
count  10.000000  10.000000
mean   25.800000   3.786000
std     4.661902   1.802358
min    20.000000   1.340000
25%    22.500000   2.322500
50%    24.500000   4.175000
75%    29.750000   5.087500
max    33.000000   6.650000

In [7]:
import pandas as pd
import numpy as np

#Create a Dictionary of series
d = {'Name':pd.Series(['Nivvu','Anki','Chandu','Dimple','Sanchu','Sharma','Nandan'
                      'Sharan','Ananth','Harsha']),
   'Age':pd.Series([22,20,21,24,32,25,24,31,26,33]),
   'Rating':pd.Series([4.12,2.23,1.34,4.23,5.25,5.4,2.6,6.65,1.44,4.60])
}

#Create a DataFrame
df = pd.DataFrame(d)
print (df.describe(include=['object']))

                Name
count              9
unique             9
top     NandanSharan
freq               1

In [8]:
import pandas as pd
import numpy as np

#Create a Dictionary of series
d = {'Name':pd.Series(['Nivvu','Anki','Chandu','Dimple','Sanchu','Sharma','Nandan'
                      'Sharan','Ananth','Harsha']),
   'Age':pd.Series([22,20,21,24,32,25,24,31,26,33]),
   'Rating':pd.Series([4.12,2.23,1.34,4.23,5.25,5.4,2.6,6.65,1.44,4.60])
}

#Create a DataFrame
df = pd.DataFrame(d)
print (df. describe(include='all'))

                Name        Age     Rating
count              9  10.000000  10.000000
unique             9        NaN        NaN
top     NandanSharan        NaN        NaN
freq               1        NaN        NaN
mean             NaN  25.800000   3.786000
std              NaN   4.661902   1.802358
min              NaN  20.000000   1.340000
25%              NaN  22.500000   2.322500
50%              NaN  24.500000   4.175000
75%              NaN  29.750000   5.087500
max              NaN  33.000000   6.650000

In [9]:
# Import package
from pandas import DataFrame

# Create DataFrame
cart = {'Product': ['Mobile', 'AC', 'Mobile', 'Sofa', 'Laptop'],
		'Price': [30000, 18000, 24000, 14000, 32000],
		'Year': [2015, 2016, 2017, 2018, 2019]
		}
df = DataFrame(cart, columns = ['Product', 'Price', 'Year'])

# Original DataFrame
print("Original DataFrame:\n", df)

# Describing descriptive statistics of Price
print("\nDescriptive statistics of Price:\n")
stats = df['Price'].describe()
print(stats)

Original DataFrame:
   Product  Price  Year
0  Mobile  30000  2015
1      AC  18000  2016
2  Mobile  24000  2017
3    Sofa  14000  2018
4  Laptop  32000  2019

Descriptive statistics of Price:

count        5.000000
mean     23600.000000
std       7668.115805
min      14000.000000
25%      18000.000000
50%      24000.000000
75%      30000.000000
max      32000.000000
Name: Price, dtype: float64

In [10]:
# Import package


# Create DataFrame
cart = {'Product': ['Mobile', 'AC', 'Mobile', 'Sofa', 'Laptop'],
		'Price': [30000, 18000, 24000, 14000, 32000],
		'Year': [2015, 2016, 2017, 2018, 2019]
		}
df = DataFrame(cart, columns = ['Product', 'Price', 'Year'])

# Original DataFrame
print("Original DataFrame:\n", df)

# Describing descriptive statistics of Year
print("\nDescriptive statistics of year:\n")
stats = df['Year'].describe()
print(stats)

Original DataFrame:
   Product  Price  Year
0  Mobile  30000  2015
1      AC  18000  2016
2  Mobile  24000  2017
3    Sofa  14000  2018
4  Laptop  32000  2019

Descriptive statistics of year:

count       5.000000
mean     2017.000000
std         1.581139
min      2015.000000
25%      2016.000000
50%      2017.000000
75%      2018.000000
max      2019.000000
Name: Year, dtype: float64

In [11]:


# Create DataFrame
cart = {'Product': ['Mobile', 'AC', 'Mobile', 'Sofa', 'Laptop'],
		'Price': [30000, 18000, 24000, 14000, 32000],
		'Year': [2015, 2016, 2017, 2018, 2019]
		}
df = DataFrame(cart, columns = ['Product', 'Price', 'Year'])

# Original DataFrame
print("Original DataFrame:\n", df)

# Describing descriptive statistics of whole dataframe
print("\nDescriptive statistics of whole dataframe:\n")
stats = df.describe(include = 'all')
print(stats)

Original DataFrame:
   Product  Price  Year
0  Mobile  30000  2015
1      AC  18000  2016
2  Mobile  24000  2017
3    Sofa  14000  2018
4  Laptop  32000  2019

Descriptive statistics of whole dataframe:

       Product         Price         Year
count        5      5.000000     5.000000
unique       4           NaN          NaN
top     Mobile           NaN          NaN
freq         2           NaN          NaN
mean       NaN  23600.000000  2017.000000
std        NaN   7668.115805     1.581139
min        NaN  14000.000000  2015.000000
25%        NaN  18000.000000  2016.000000
50%        NaN  24000.000000  2017.000000
75%        NaN  30000.000000  2018.000000
max        NaN  32000.000000  2019.000000

In [13]:


# Create DataFrame
cart = {'Product': ['Mobile', 'AC', 'Mobile', 'Sofa', 'Laptop'],
		'Price': [30000, 18000, 24000, 14000, 32000],
		'Year': [2015, 2016, 2017, 2018, 2019]
		}
df = DataFrame(cart, columns = ['Product', 'Price', 'Year'])

# Original DataFrame
print("Original DataFrame:\n", df)

# Print Count of Price
print("\nCount of Price:\n")
counts = df['Price'].count()
print(counts)

# Print mean of Price
print("\nMean of Price:\n")
m = df['Price'].mean()
print(m)

# Print maximum value of Price
print("\nMaximum value of Price:\n")
mx = df['Price'].max()
print(m)

# Print standard deviation of Price
print("\nStandard deviation of Price:\n")
sd = df['Price'].std()
print(sd)

Original DataFrame:
   Product  Price  Year
0  Mobile  30000  2015
1      AC  18000  2016
2  Mobile  24000  2017
3    Sofa  14000  2018
4  Laptop  32000  2019

Count of Price:

5

Mean of Price:

23600.0

Maximum value of Price:

23600.0

Standard deviation of Price:

7668.115805072325