In [1]:
import pandas as pd
import numpy as np

#Create a series with 100 random numbers
s = pd.Series(np.random.randn(3))
print (s)

0    1.386681
1    0.756301
2   -0.917963
dtype: float64

In [2]:
import pandas as pd
import numpy as np

#Create a series with 100 random numbers
s = pd.Series(np.random.randn(3))
print ("The axes are:")
print (s.axes)

The axes are:
[RangeIndex(start=0, stop=3, step=1)]

In [3]:
import pandas as pd
import numpy as np

#Create a series with 100 random numbers
s = pd.Series(np.random.randn(3))
print ("Is the Object empty?")
print (s.empty)

Is the Object empty?
False

In [5]:
import pandas as pd
import numpy as np

#Create a series with 3 random numbers
s = pd.Series(np.random.randn(3))
print (s)

print ("The dimensions of the object:")
print (s.ndim)

0   -1.112338
1    0.971879
2   -0.248575
dtype: float64
The dimensions of the object:
1

In [6]:
import pandas as pd
import numpy as np

#Create a series with 3 random numbers
s = pd.Series(np.random.randn(1))
print (s)
print ("The size of the object:")
print (s.size)

0    0.068551
dtype: float64
The size of the object:
1

In [7]:
import pandas as pd
import numpy as np

#Create a series with 3 random numbers
s = pd.Series(np.random.randn(3))
print (s)

print ("The actual data series is:")
print (s.values)

0    2.648628
1   -0.447359
2    0.056439
dtype: float64
The actual data series is:
[ 2.64862832 -0.44735877  0.05643941]

In [8]:
import pandas as pd
import numpy as np

#Create a series with 2 random numbers
s = pd.Series(np.random.randn(2))
print ("The original series is:")
print (s)

print ("The first two rows of the data series:")
print (s.head(2))

The original series is:
0    0.738763
1    0.311784
dtype: float64
The first two rows of the data series:
0    0.738763
1    0.311784
dtype: float64

In [9]:
import pandas as pd
import numpy as np

#Create a series with 5 random numbers
s = pd.Series(np.random.randn(5))
print ("The original series is:")
print (s)

print ("The last two rows of the data series:")
print (s.tail(2))

The original series is:
0    0.889285
1    0.127020
2   -0.076018
3   -0.174436
4   -1.415252
dtype: float64
The last two rows of the data series:
3   -0.174436
4   -1.415252
dtype: float64

In [11]:
import pandas as pd
import numpy as np

#Create a Dictionary of series
d = {'Name':pd.Series(['Anki','Ananth','Chandu','Sharan','Nivvu','Sharma','Nandan']),
   'Age':pd.Series([21,22,25,24,22,21,20]),
   'Rating':pd.Series([5.23,2.24,1.92,3.56,4.21,5.6,3.3])}

#Create a DataFrame
df = pd.DataFrame(d)
print ("Our data series is:")
print (df)

Our data series is:
     Name  Age  Rating
0    Anki   21    5.23
1  Ananth   22    2.24
2  Chandu   25    1.92
3  Sharan   24    3.56
4   Nivvu   22    4.21
5  Sharma   21    5.60
6  Nandan   20    3.30

In [12]:
import pandas as pd
import numpy as np
 
# Create a Dictionary of series
d = {'Name':pd.Series(['Anki','Ananth','Chandu','Sharan','Nivvu','Sharma','Nandan']),
   'Age':pd.Series([21,22,25,24,22,21,20]),
   'Rating':pd.Series([5.23,2.24,1.92,3.56,4.21,5.6,3.3])}

# Create a DataFrame
df = pd.DataFrame(d)
print ("The transpose of the data series is:")
print (df.T)

The transpose of the data series is:
           0       1       2       3      4       5       6
Name    Anki  Ananth  Chandu  Sharan  Nivvu  Sharma  Nandan
Age       21      22      25      24     22      21      20
Rating  5.23    2.24    1.92    3.56   4.21     5.6     3.3

In [12]:
import pandas as pd
import numpy as np

#Create a Dictionary of series
d = {'Name':pd.Series(['Anki','Ananth','Chandu','Sharan','Nivvu','Sharma','Nandan']),
   'Age':pd.Series([[21,22,25,24,22,21,20]),
   'Rating':pd.Series([5.23,2.24,1.92,3.56,4.21,5.6,3.3])}

#Create a DataFrame
df = pd.DataFrame(d)
print ("Row axis labels and column axis labels are:")
print (df.axes)

Row axis labels and column axis labels are:
[RangeIndex(start=0, stop=7, step=1), Index(['Name', 'Age', 'Rating'], dtype='object')]

In [13]:
import pandas as pd
import numpy as np

#Create a Dictionary of series
d = {'Name':pd.Series(['Anki','Ananth','Chandu','Sharan','Nivvu','Sharma','Nandan']),
   'Age':pd.Series([21,22,25,24,22,21,20]),
   'Rating':pd.Series([5.23,2.24,1.92,3.56,4.21,5.6,3.3])}

#Create a DataFrame
df = pd.DataFrame(d)
print ("The data types of each column are:")
print (df.dtypes)

The data types of each column are:
Name       object
Age         int64
Rating    float64
dtype: object

In [14]:
import pandas as pd
import numpy as np
 
#Create a Dictionary of series
d = {'Name':pd.Series(['Anki','Ananth','Chandu','Sharan','Nivvu','Sharma','Nandan']),
   'Age':pd.Series([21,22,25,24,22,21,20]),
   'Rating':pd.Series([5.23,2.24,1.92,3.56,4.21,5.6,3.3])}
 
#Create a DataFrame
df = pd.DataFrame(d)
print ("Is the object empty?")
print (df.empty)

Is the object empty?
False

In [15]:
#ndim-Returns the number of dimensions of the object. By definition, DataFrame is a 2D object.

import pandas as pd
import numpy as np

#Create a Dictionary of series
d = {'Name':pd.Series(['Anki','Ananth','Chandu','Sharan','Nivvu','Sharma','Nandan']),
   'Age':pd.Series([21,22,25,24,22,21,20]),
   'Rating':pd.Series([5.23,2.24,1.92,3.56,4.21,5.6,3.3])}

#Create a DataFrame
df = pd.DataFrame(d)
print ("Our object is:")
print (df)
print ("The dimension of the object is:")
print (df.ndim)

Our object is:
     Name  Age  Rating
0    Anki   21    5.23
1  Ananth   22    2.24
2  Chandu   25    1.92
3  Sharan   24    3.56
4   Nivvu   22    4.21
5  Sharma   21    5.60
6  Nandan   20    3.30
The dimension of the object is:
2

In [16]:
import pandas as pd
import numpy as np
 
#Create a Dictionary of series
d = {'Name':pd.Series(['Anki','Ananth','Chandu','Sharan','Nivvu','Sharma','Nandan']),
   'Age':pd.Series([21,22,25,24,22,21,20]),
   'Rating':pd.Series([5.23,2.24,1.92,3.56,4.21,5.6,3.3])}
 
#Create a DataFrame
df = pd.DataFrame(d)
print ("Our object is:")
print (df)
print ("The shape of the object is:")
print (df.shape)

Our object is:
     Name  Age  Rating
0    Anki   21    5.23
1  Ananth   22    2.24
2  Chandu   25    1.92
3  Sharan   24    3.56
4   Nivvu   22    4.21
5  Sharma   21    5.60
6  Nandan   20    3.30
The shape of the object is:
(7, 3)

In [17]:
import pandas as pd
import numpy as np
 
#Create a Dictionary of series
d = {'Name':pd.Series(['Anki','Ananth','Chandu','Sharan','Nivvu','Sharma','Nandan']),
   'Age':pd.Series([21,22,25,24,22,21,20]),
   'Rating':pd.Series([5.23,2.24,1.92,3.56,4.21,5.6,3.3])}
 
#Create a DataFrame
df = pd.DataFrame(d)
print ("Our object is:")
print (df)
print ("The total number of elements in our object is:")
print (df.size)

Our object is:
     Name  Age  Rating
0    Anki   21    5.23
1  Ananth   22    2.24
2  Chandu   25    1.92
3  Sharan   24    3.56
4   Nivvu   22    4.21
5  Sharma   21    5.60
6  Nandan   20    3.30
The total number of elements in our object is:
21

In [18]:
import pandas as pd
import numpy as np
 
#Create a Dictionary of series
d = {'Name':pd.Series(['Anki','Ananth','Chandu','Sharan','Nivvu','Sharma','Nandan']),
   'Age':pd.Series([21,22,25,24,22,21,20]),
   'Rating':pd.Series([5.23,2.24,1.92,3.56,4.21,5.6,3.3])}
 
#Create a DataFrame
df = pd.DataFrame(d)
print ("Our object is:")
print (df)
print ("The actual data in our data frame is:")
print (df.values)

Our object is:
     Name  Age  Rating
0    Anki   21    5.23
1  Ananth   22    2.24
2  Chandu   25    1.92
3  Sharan   24    3.56
4   Nivvu   22    4.21
5  Sharma   21    5.60
6  Nandan   20    3.30
The actual data in our data frame is:
[['Anki' 21 5.23]
 ['Ananth' 22 2.24]
 ['Chandu' 25 1.92]
 ['Sharan' 24 3.56]
 ['Nivvu' 22 4.21]
 ['Sharma' 21 5.6]
 ['Nandan' 20 3.3]]

In [19]:
import pandas as pd
import numpy as np
 
#Create a Dictionary of series
d = {'Name':pd.Series(['Anki','Ananth','Chandu','Sharan','Nivvu','Sharma','Nandan']),
   'Age':pd.Series([21,22,25,24,22,21,20]),
   'Rating':pd.Series([5.23,2.24,1.92,3.56,4.21,5.6,3.3])}

#Create a DataFrame
df = pd.DataFrame(d)
print ("Our data frame is:")
print (df)
print ("The first two rows of the data frame is:")
print (df.head(3))
print("default head values")
print (df.head())

Our data frame is:
     Name  Age  Rating
0    Anki   21    5.23
1  Ananth   22    2.24
2  Chandu   25    1.92
3  Sharan   24    3.56
4   Nivvu   22    4.21
5  Sharma   21    5.60
6  Nandan   20    3.30
The first two rows of the data frame is:
     Name  Age  Rating
0    Anki   21    5.23
1  Ananth   22    2.24
2  Chandu   25    1.92
default head values
     Name  Age  Rating
0    Anki   21    5.23
1  Ananth   22    2.24
2  Chandu   25    1.92
3  Sharan   24    3.56
4   Nivvu   22    4.21

In [20]:
import pandas as pd
import numpy as np

#Create a Dictionary of series
d = {'Name':pd.Series(['Anki','Ananth','Chandu','Sharan','Nivvu','Sharma','Nandan']),
   'Age':pd.Series([21,22,25,24,22,21,20]), 
   'Rating':pd.Series([5.23,2.24,1.92,3.56,4.21,5.6,3.3])}
 
#Create a DataFrame
df = pd.DataFrame(d)
print ("Our data frame is:")
print (df)
print ("The last two rows of the data frame is:")
print (df.tail(2))

Our data frame is:
     Name  Age  Rating
0    Anki   21    5.23
1  Ananth   22    2.24
2  Chandu   25    1.92
3  Sharan   24    3.56
4   Nivvu   22    4.21
5  Sharma   21    5.60
6  Nandan   20    3.30
The last two rows of the data frame is:
     Name  Age  Rating
5  Sharma   21     5.6
6  Nandan   20     3.3