In [1]:
import pandas as pd
import numpy as np

def adder(ele1,ele2):
   return ele1+ele2

df = pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3'])
print(df)
print("printing the results of pipe")
print(df.pipe(adder,2))

       col1      col2      col3
0 -0.340453 -0.661292 -0.448694
1  0.016126  1.735440 -1.294100
2  0.535314 -0.174753  2.155162
3 -0.270118 -0.156795 -0.255696
4  0.395125 -0.942103 -0.177988
printing the results of pipe
       col1      col2      col3
0  1.659547  1.338708  1.551306
1  2.016126  3.735440  0.705900
2  2.535314  1.825247  4.155162
3  1.729882  1.843205  1.744304
4  2.395125  1.057897  1.822012

In [1]:
import pandas as pd
import numpy as np

def adder(ele1,ele2):
   return ele1+ele2

df = pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3'])
print(df)

print (df.apply(np.mean))

       col1      col2      col3
0 -0.221325 -0.379971 -0.517350
1 -0.795384  0.654277  0.652740
2  0.141925 -1.009026  0.990916
3 -0.335229 -0.174160 -0.149690
4  0.259244 -0.533985  0.176252
col1   -0.190154
col2   -0.288573
col3    0.230574
dtype: float64

In [10]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3'])
print(df)

print (df.apply(np.mean,axis=1))

       col1      col2      col3
0 -0.925125  0.541934 -0.982347
1 -1.018046  0.082642 -3.191830
2  0.278056 -1.534515 -0.154953
3 -1.916473 -1.760331  0.152299
4  0.145001 -0.521489 -2.528679
0   -0.455179
1   -1.375745
2   -0.470471
3   -1.174835
4   -0.968389
dtype: float64

In [14]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3'])
print(df)

print(df['col1'].map(lambda x:x*100))

       col1      col2      col3
0 -0.866337  0.237423  0.274658
1  1.133911 -2.230867 -0.523681
2  1.003188  0.029264 -0.024589
3  0.008908 -1.562550 -1.783723
4 -0.146589 -0.450539 -1.310938
0    -86.633711
1    113.391137
2    100.318824
3      0.890847
4    -14.658866
Name: col1, dtype: float64

In [2]:
df=pd.DataFrame({'id':[1,2,3,4,5,6],'name':['mno','pqr','stu','vwx','yza', 'bcd'],'age':[12,21,23,24,45,21], 'income':[9921,8448,7597,4369,5087,7698]})
print(df)

   id name  age  income
0   1  mno   12    9921
1   2  pqr   21    8448
2   3  stu   23    7597
3   4  vwx   24    4369
4   5  yza   45    5087
5   6  bcd   21    7698

In [3]:
df['age']=df.apply(lambda x: x['age']+3, axis=1)
print(df)

   id name  age  income
0   1  mno   15    9921
1   2  pqr   24    8448
2   3  stu   26    7597
3   4  vwx   27    4369
4   5  yza   48    5087
5   6  bcd   24    7698

In [4]:
list(filter(lambda x:x>18, df['age']))

[24, 26, 27, 48, 24]

In [5]:
df['income']=list(map(lambda x: int(x+x*0.2), df['income']))
print(df)

   id name  age  income
0   1  mno   15   11905
1   2  pqr   24   10137
2   3  stu   26    9116
3   4  vwx   27    5242
4   5  yza   48    6104
5   6  bcd   24    9237

In [6]:
import functools

functools.reduce(lambda a,b: a+b, df['income'])

51741

In [7]:
df['category']=df['age'].apply(lambda x: 'Adult' if x>=18 else 'Child')

In [8]:
print(df)

   id name  age  income category
0   1  mno   15   11905    Child
1   2  pqr   24   10137    Adult
2   3  stu   26    9116    Adult
3   4  vwx   27    5242    Adult
4   5  yza   48    6104    Adult
5   6  bcd   24    9237    Adult